.Rproj.user/*
.Rproj.user
.Rhistory
SCRATCH.R
_tmp/*
vignettes/_tmp/*
vignettes/.quarto
vignettes/UtilsGGSV_files
vignettes/*.html

.vscode/settings.json
tests/testthat/Rplots.pdf

# R CMD check output
*.Rcheck/
*.tar.gz
Rplots.pdf
vignettes/benchmarking-merges.html
/doc/
/Meta/
